.idea*
cmake-build-debug/
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
allTests
cmake_install.cmake
libhts.a
libson.a
marginPhase
Makefile
vcfCompare
marginPhase.cbp
libjsmn.a
*.bai
venv
s3am
*.pyc
config-toil-marginphase.yaml
manifest-toil-marginphase.tsv
toil/docker/runtime-container.DONE
*.log
*.gz
*.tbi
*.log
toil/.cache/
toil/docker/tempMarginPhase/
toil/test-report.xml
