[submodule "externalTools/htslib"]
	path = externalTools/htslib
	url = https://github.com/samtools/htslib.git
[submodule "externalTools/sonLib"]
	path = externalTools/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "externalTools/jsmn"]
	path = externalTools/jsmn
	url = https://github.com/zserge/jsmn
[submodule "externalTools/linear-haplotypes"]
	path = externalTools/linear-haplotypes
	url = https://github.com/yoheirosen/linear-haplotypes.git
